.calculator {
	width: 200px;
	margin: 100px auto;
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
}

.display {
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 5px;
}

.buttons {
	margin-top: 10px;
}

button {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #eee;
}
